body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
  border: 3px solid #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

::-webkit-scrollbar-corner {
  background: #e0e0e0;
}

.scrollable {
  max-height: 250px;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #ddd;
}